---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=0&q=athens&state%5Bid%5D=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b5636c97e78fe1447675ea6a5554622"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":330,"organizations":[{"ein":320035073,"strein":"32-0035073","name":"ATHENS
        CONSERVANCY","sub_name":"ATHENS CONSERVANCY","city":"ATHENS","state":"OH","ntee_code":"C27","raw_ntee_code":"C27","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":7347.2305},{"ein":311005016,"strein":"31-1005016","name":"ATHENS
        FELLOWSHIP","sub_name":"ATHENS FELLOWSHIP","city":"ATHENS","state":"OH","ntee_code":null,"raw_ntee_code":null,"subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":7347.2305},{"ein":274932848,"strein":"27-4932848","name":"ATHENS
        PHOTOGRAPHIC PROJECT","sub_name":"ATHENS PHOTOGRAPHIC PROJECT","city":"ATHENS","state":"OH","ntee_code":"A40","raw_ntee_code":"A40","subseccd":3,[...]
[...]
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=4&q=athens&state%5Bid%5D=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9507b2f36b5278d87e4f5995a798a139"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":330,"organizations":[],"num_pages":4,"cur_page":4,"page_offset":400,"per_page":100,"search_query":"athens","selected_state":"OH","selected_ntee":null,"selected_code":null,"data_source":"ProPublica
        Nonprofit Explorer API: https://projects.propublica.org/nonprofits/api/\nIRS
        Exempt Organizations Business Master File Extract (EO BMF): https://www.irs.gov/charities-non-profits/exempt-organizations-business-master-file-extract-eo-bmf\nIRS
        Annual Extract of Tax-Exempt Organization Financial Data: https://www.irs.gov/uac/soi-tax-stats-annual-extract-of-tax-exempt-organization-financial-data","api_version":2}'
  recorded_at: Mon, 18 Nov 2019 23:45:20 GMT
recorded_with: VCR 4.0.0
