---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=0&q=athens&state%5Bid%5D=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"516e9a505098a0e27f0aae42a67d4cea"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":345,"organizations":[{"ein":320035073,"strein":"32-0035073","name":"ATHENS
        CONSERVANCY","sub_name":"ATHENS CONSERVANCY","city":"ATHENS","state":"OH","ntee_code":"C27","raw_ntee_code":"C27","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":7347.0425},{"ein":311005016,"strein":"31-1005016","name":"ATHENS
        FELLOWSHIP","sub_name":"ATHENS FELLOWSHIP","city":"ATHENS","state":"OH","ntee_code":null,"raw_ntee_code":null,"subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":7347.0425},{"ein":274932848,"strein":"27-4932848","name":"ATHENS
        PHOTOGRAPHIC PROJECT","sub_name":"ATHENS PHOTOGRAPHIC PROJECT","city":"ATHENS","state":"OH","ntee_code":"A40","raw_ntee_code":"A40","subseccd":3,[...]
[...]
