---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/organizations/311124220.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d824d44f28b8a31dc516490edd69ea21"
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":311124220,"ein":311124220,"name":"RURAL ACTION
        INC","careofname":null,"address":"11350 JACKSON DR","city":"THE PLAINS","state":"OH","zipcode":"45780-1229","exemption_number":0,"subsection_code":3,"affiliation_code":3,"classification_codes":"1000","ruling_date":"1985-06-01","deductibility_code":1,"foundation_code":16,"activity_codes":"149000000","organization_code":1,"exempt_organization_status_code":1,"tax_period":"2017-12-01","asset_code":6,"income_code":6,"filing_requirement_code":1,"pf_filing_requirement_code":0,"accounting_period":12,"asset_amount":1229933,"income_amount":2749139,"revenue_amount":2749139,"ntee_code":"S320","sort_name":null,"created_at":"2019-10-17T20:08:14.381Z","updated_at":"2019-10-17T20:08:14.381Z","data_source":null,"have_extracts":null,"have_pdfs":null},"filings_with_data":[{"tax_prd":201712,"tax_prd_yr":2017,"formtype":0,"pdf_url":null,"updated":"2019-10-15T18:34:52.579Z","totrevenue":2749139,"totfuncexpns":2774500,"totassetsend":1229933,"totliabend":484616,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":2325030,"totprgmrevnue":389642,"invstmntinc":24504,"txexmptbndsproceeds":0,"royaltsinc":0,"grsrntsreal":0,"grsrntsprsnl":0,"rntlexpnsreal":0,"rntlexpnsprsnl":0,"rntlincreal":0,"rntlincprsnl":0,"netrntlinc":0,"grsalesecur":0,"grsalesothr":0,"cstbasisecur":0,"cstbasisothr":0,"gnlsecur":0,"gnlsothr":0,"netgnls":0,"grsincfndrsng":0,"lessdirfndrsng":0,"netincfndrsng":0,"grsincgaming":0,"lessdirgaming":0,"netincgaming":0,"grsalesinvent":0,"lesscstofgoods":0,"netincsales":0,"miscrevtot11e":9963,"compnsatncurrofcr":79816,"othrsalwages":1245129,"payrolltx":96450,"profndraising":0,"txexmptbndsend":0,"secrdmrtgsend":368799,"unsecurednotesend":0,"retainedearnend":0,"totnetassetend":745317,"nonpfrea":"7","gftgrntsrcvd170":9621975,"txrevnuelevied170":0,"srvcsval170":0,"grsinc170":87615,"grsrcptsrelated170":410634,"totgftgrntrcvd509":0,"grsrcptsadmissn509":0,"txrevnuelevied509":0,"srvcsval509":0,"subtotsuppinc509":0,"totsupp509":0,"ein":311124220},{"tax_prd":201612,"tax_prd_yr":2016,"formtype":0,"pdf_url":null,"updated":"2018-12-10T23:12:29.657Z","totrevenue":2391939,"totfuncexpns":2476793,"totassetsend":1287004,"totliabend":516326,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":2016235,"totprgmrevnue":329172,"invstmntinc":16396,"txexmptbndsproceeds":0,"royaltsinc":0,"grsrntsreal":0,"grsrntsprsnl":0,"rntl[...]
[...]
