---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?q=%27rural%20action%20inc%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Key:
      - nonprofits
      Surrogate-Control:
      - public, max-age=31536000
      Etag:
      - W/"20045edf9d6d348fc566c65f426ad4c5"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":5,"organizations":[{"ein":311124220,"strein":"31-1124220","name":"RURAL
        ACTION INC","sub_name":"RURAL ACTION INC","city":"THE PLAINS","state":"OH","ntee_code":"S320","raw_ntee_code":"S320","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":538.7942},{"ein":30383463,"strein":"03-0383463","name":"OREGON
        RURAL ACTION INC","sub_name":"OREGON RURAL ACTION INC","city":"LA GRANDE","state":"Oregon","ntee_code":"W05","raw_ntee_code":"W05","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":461.82364},{"ein":920033876,"strein":"92-0033876","name":"RURAL
        ALASKA COMMUNITY ACTION PROGRAM INC","sub_name":"RURAL ALASKA COMMUNITY ACTION
        PROGRAM INC","city":"ANCHORAGE","state":"AK","ntee_code":"S200","raw_ntee_code":"S200","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":385.31723},{"ein":263183484,"strein":"26-3183484","name":"YOUTH
        ACTION FOR RURAL AFRICA INC","sub_name":"YOUTH ACTION FOR RURAL AFRICA INC","city":"WEYMOUTH","state":"MA","ntee_code":"Q330","raw_ntee_code":"Q330","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":383.35693},{"ein":800120175,"strein":"80-0120175","name":"COMPASSION
        IN ACTION INC","sub_name":"COMPASSION IN ACTION INC","city":"RURAL HALL","state":"NC","ntee_code":"P60","raw_ntee_code":"P60","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":227.8923}],"num_pages":1,"cur_page":0,"page_offset":0,"per_page":100,"search_query":"''rural
        action inc''","selected_state":null,"selected_ntee":null,"selected_code":null,"data_source":"ProPublica
        Nonprofit Explorer API: https://projects.propublica.org/nonprofits/api/\nIRS
        Exempt Organizations Business Master File Extract (EO BMF): https://www.irs.gov/charities-non-profits/exempt-organizations-business-master-file-extract-eo-bmf\nIRS
        Annual Extract of Tax-Exempt Organization Financial Data: https://www.irs.gov/uac/soi-tax-stats-annual-extract-of-tax-exempt-organization-financial-data","api_version":2}'
  recorded_at: Fri, 30 Nov 2018 13:37:23 GMT
recorded_with: VCR 4.0.0
