---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/organizations/311124220.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"315a4e252992f6aabb58705e8d69de01"
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":311124220,"ein":311124220,"name":"RURAL ACTION
        INC","careofname":null,"address":"9030 HOCKING HILLS DR","city":"THE PLAINS","state":"OH","zipcode":"45780-1209","exemption_number":0,"subsection_code":3,"affiliation_code":3,"classification_codes":"1000","ruling_date":"1985-06-01","deductibility_code":1,"foundation_code":16,"activity_codes":"149000000","organization_code":1,"exempt_organization_status_code":1,"tax_period":"2018-12-01","asset_code":6,"income_code":6,"filing_requirement_code":1,"pf_filing_requirement_code":0,"accounting_period":12,"asset_amount":1189839,"income_amount":2845177,"revenue_amount":2845177,"ntee_code":"S320","sort_name":null,"created_at":"2021-06-23T16:40:46.255Z","updated_at":"2021-06-23T16:40:46.255Z","data_source":null,"have_extracts":null,"have_pdfs":null},"filings_with_data":[{"tax_prd":201812,"tax_prd_yr":2018,"formtype":0,"pdf_url":"https://projects.propublica.org/nonprofits/download-filing?path=02_2020_prefixes_30-33%2F311124220_201812_990_2020021517152335.pdf","updated":"2021-07-01T17:03:04.903Z","totrevenue":2845177,"totfuncexpns":2765460,"totassetsend":1189839,"totliabend":364805,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"Y","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":2526940,"totprgmrevnue":293961,"invstmntinc":-1812,"txexmptbndsproceeds":0,"royaltsinc":4075,"grsrntsreal":0,"grsrntsprsnl":0,"rntlexpnsreal":0,"rntlexpnsprsnl":0,"rntlincreal":0,"rntlincprsnl":0,"netrntlinc":0,"grsalesecur":0,"grsalesothr":0,"cstbasisecur":0,"cstbasisothr":0,"gnlsecur":0,"gnlsothr":0,"netgnls":0,"grsincfndrsng":0,"lessdirfndrsng":0,"netincfndrsng":0,"grsincgaming":0,"lessdirgaming":0,"netincgaming":0,"grsalesinvent":0,"lesscstofgoods":0,"netincsales":0,"miscrevtot11e":22013,"compnsatncurrofcr":69279,"othrsalwages":1248515,"payrolltx":102898,"profndraising":0,"txexmptbndsend":0,"secrdmrtgsend":287518,"unsecurednotesend":0,"retainedearnend":0,"totnetassetend":825034,"nonpfrea":"07","gftgrntsrcvd170":10358632,"txrevnuelevied170":0,"srvcsval170":0,"grsinc170":56768,"grsrcptsrelated170":2848688,"totgftgrntrcvd509":0,"grsrcptsadmissn509":0,"txrevnuelevied509":0,"srvcsval509":0,"subtotsuppinc509":0,"totsupp509":0,"ein":311124220},{"tax_prd":201712,"tax_prd_yr":2017,"formtype":0,"pdf_url":"https://projects.propublica.org/nonprofits/download-filing?path=01_2019_prefixes_27-43%2F311124220_201712_990_2019013116050021.pdf","updated":"2019-10-15T18:34:52.579Z","totrevenue":2749139,"totfuncexpns":2774500,"totassetsend":1229933,"totliabend":484616,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":[...]
[...]
