---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?q=rural&state%5Bid%5D=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec16d7d0e86bd3b4a128ce6dad444cb2"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":61,"organizations":[{"ein":311124220,"strein":"31-1124220","name":"RURAL
        ACTION INC","sub_name":"RURAL ACTION INC","city":"THE PLAINS","state":"OH","ntee_code":"S320","raw_ntee_code":"S320","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":6090.473},{"ein":310917953,"strein":"31-0917953","name":"OHIO
        RURAL WATER ASSOCIATION","sub_name":"OHIO RURAL WATER ASSOCIATION","city":"ZANESVILLE","state":"OH","ntee_code":null,"raw_ntee_code":null,"subseccd":6,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":5572.5396},{"ein":340058725,"strein":"34-0058725","name":"AKRON
        RURAL CEMETERY ASSOCIATION","sub_name":"AKRON RURAL CEMETERY ASSOCIATION","city":"AKRON","state":"OH","ntee_code":null,"r[...]
