---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?q=%27rural%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Key:
      - nonprofits
      Surrogate-Control:
      - public, max-age=31536000
      Etag:
      - W/"34f2b14277e6a848a2be31798b6d9bd5"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":2651,"organizations":[{"ein":200870007,"strein":"20-0870007","name":"RURAL
        COMPASSION","sub_name":"RURAL COMPASSION","city":"OZARK","state":"MO","ntee_code":"X20","raw_ntee_code":"X20","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":481.8888},{"ein":861087174,"strein":"86-1087174","name":"RURAL
        ADVANTAGE","sub_name":"RURAL ADVANTAGE","city":"FAIRMONT","state":"MN","ntee_code":"C32","raw_ntee_code":"C32","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":481.21747},{"ein":521203899,"strein":"52-1203899","name":"RURAL
        COALITION","sub_name":"RURAL COALITION","city":"WASHINGTON","state":"DC","ntee_code":"S30Z","raw_ntee_code":"S30Z","subseccd":3,"has_subseccd":true[...]
