---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=0&q=rural
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c1a11b232c2d850bdf0d4ee4c09eacb5"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":2862,"organizations":[{"ein":823193486,"strein":"82-3193486","name":"RURAL
        ALLIANCE","sub_name":"RURAL ALLIANCE","city":"DEER PARK","state":"WA","ntee_code":"B90","raw_ntee_code":"B90","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":6862.53},{"ein":200870007,"strein":"20-0870007","name":"RURAL
        COMPASSION","sub_name":"RURAL COMPASSION","city":"OZARK","state":"MO","ntee_code":"X20","raw_ntee_code":"X20","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":6862.53},{"ein":264687883,"strein":"26-4687883","name":"RURAL
        HUMBOLDT","sub_name":"RURAL HUMBOLDT","city":"EUREKA","state":"CA","ntee_code":"P20","raw_ntee_code":"P20","subseccd":3,"has_subseccd":true,"have_filin[...]
