---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/organizations/311124220.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5110ef2895cb942725d8f3a51a6cecc"
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":311124220,"ein":311124220,"name":"RURAL ACTION
        INC","careofname":null,"address":"11350 JACKSON DR","city":"THE PLAINS","state":"OH","zipcode":"45780-1229","exemption_number":0,"subsection_code":3,"affiliation_code":3,"classification_codes":"1000","ruling_date":"1985-06-01","deductibility_code":1,"foundation_code":16,"activity_codes":"149000000","organization_code":1,"exempt_organization_status_code":1,"tax_period":"2016-12-01","asset_code":6,"income_code":6,"filing_requirement_code":1,"pf_filing_requirement_code":0,"accounting_period":12,"asset_amount":1287004,"income_amount":2391939,"revenue_amount":2391939,"ntee_code":"S320","sort_name":null,"created_at":"2018-04-20T23:42:48.118Z","updated_at":"2018-04-20T23:42:48.118Z","data_source":null,"have_extracts":null,"have_pdfs":null},"filings_with_data":[{"tax_prd":201412,"tax_prd_yr":2014,"formtype":0,"pdf_url":"https://projects.propublica.org/nonprofits/download-filing?path=2015_09_EO%2F31-1124220_990_201412.pdf","updated":"2017-06-30T00:21:09.762Z","totrevenue":1920909,"totfuncexpns":1793547,"totassetsend":972832,"totliabend":282716,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":1636184,"totprgmrevnue":240980,"invstmntinc":19404,"txexmptbndsproceeds":0,"royaltsinc":0,"grsrntsreal":0,"grsrntsprsnl":0,"rntlexpnsreal":0,"rntlexpnsprsnl":0,"rntlincreal":0,"rntlincprsnl":0,"netrntlinc":0,"grsalesecur":0,"grsalesothr":0,"cstbasisecur":0,"cstbasisothr":0,"gnlsecur":0,"gnlsothr":0,"netgnls":0,"grsincfndrsng":0,"lessdirfndrsng":0,"netincfndrsng":0,"grsincgaming":0,"lessdirgaming":0,"netincgaming":0,"grsalesinvent":0,"lesscstofgoods":0,"netincsales":0,"miscrevtot11e":24341,"compnsatncurrofcr":69949,"othrsalwages":757727,"payrolltx":69029,"profndraising":0,"txexmptbndsend":0,"secrdmrtgsend":205978,"unsecurednotesend":0,"retainedearnend":0,"totnetassetend":690116,"nonpfrea":"7","gftgrntsrcvd170":7952379,"txrevnuelevied170":0,"srvcsval170":0,"grsinc170":91086,"grsrcptsrelated170":265321,"totgftgrntrcvd509":0,"grsrcptsadmissn509":0,"txrevnuelevied509":0,"srvcsval509":0,"subtotsuppinc509":0,"totsupp509":0,"ein":311124220},{"tax_prd":201312,"tax_prd_yr":2013,"formtype":0,"pdf_url":"https://projects.propublica.org/nonprofits/download-filing?path=2014_12_EO%2F31-1124220_990_201312.pdf","updated":"2017-06-30T00:08:10.487Z","totrevenue":2056580,"totfuncexpns":1839315,"totassetsend":1083264,"totliabend":423406,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":1760551,"totprgmrevnue":2315[...]
