---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=0&q=rural%20action%20inc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ea8a49f59904d025064eb9dfa7f6174"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":6,"organizations":[{"ein":311124220,"strein":"31-1124220","name":"RURAL
        ACTION INC","sub_name":"RURAL ACTION INC","city":"THE PLAINS","state":"OH","ntee_code":"S320","raw_ntee_code":"S320","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":12766.716},{"ein":30383463,"strein":"03-0383463","name":"OREGON
        RURAL ACTION INC","sub_name":"OREGON RURAL ACTION INC","city":"LA GRANDE","state":"Oregon","ntee_code":"W05","raw_ntee_code":"W05","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":11557.551},{"ein":813032398,"strein":"81-3032398","name":"RURAL
        WOMEN IN ACTION INC","sub_name":"RURAL WOMEN IN ACTION INC","city":"WINDER","state":"GA","ntee_code":"G81","raw_ntee_code":"G8[...]
