---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/search.json?page=0&q=rural&state%5Bid%5D=OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a1434183e57908353f2f38c222bedd9"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":68,"organizations":[{"ein":311124220,"strein":"31-1124220","name":"RURAL
        ACTION INC","sub_name":"RURAL ACTION INC","city":"THE PLAINS","state":"OH","ntee_code":"S320","raw_ntee_code":"S320","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":6126.1797},{"ein":851060377,"strein":"85-1060377","name":"NORTHWESTERN
        OHIO RURAL ARTS","sub_name":"NORTHWESTERN OHIO RURAL ARTS","city":"WALBRIDGE","state":"OH","ntee_code":"P99","raw_ntee_code":"P99","subseccd":3,"has_subseccd":true,"have_filings":null,"have_extracts":null,"have_pdfs":null,"score":5559.7476},{"ein":310917953,"strein":"31-0917953","name":"OHIO
        RURAL WATER ASSOCIATION","sub_name":"OHIO RURAL WATER ASSOCIATION","city":"ZANESVILLE","state":"OH","ntee_code":null,"ra[...]
