---
http_interactions:
- request:
    method: get
    uri: https://projects.propublica.org/nonprofits/api/v2/organizations/311124220.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3c42f308855aab56f287b10d17d2241"
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":311124220,"ein":311124220,"name":"RURAL ACTION
        INC","careofname":null,"address":"9030 HOCKING HILLS DR","city":"THE PLAINS","state":"OH","zipcode":"45780-1209","exemption_number":0,"subsection_code":3,"affiliation_code":3,"classification_codes":"1000","ruling_date":"1985-06-01","deductibility_code":1,"foundation_code":16,"activity_codes":"149000000","organization_code":1,"exempt_organization_status_code":1,"tax_period":"2020-12-01","asset_code":6,"income_code":6,"filing_requirement_code":1,"pf_filing_requirement_code":0,"accounting_period":12,"asset_amount":1762260,"income_amount":3714399,"revenue_amount":3714399,"ntee_code":"S320","sort_name":null,"created_at":"2022-11-21T16:27:58.855Z","updated_at":"2022-11-21T16:27:58.855Z","data_source":null,"have_extracts":null,"have_pdfs":null},"filings_with_data":[{"tax_prd":202012,"tax_prd_yr":2020,"formtype":0,"pdf_url":null,"updated":"2022-07-01T20:30:14.396Z","totrevenue":3714399,"totfuncexpns":3720501,"totassetsend":1762260,"totliabend":817121,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"N","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":3564638,"totprgmrevnue":98904,"invstmntinc":27,"txexmptbndsproceeds":0,"royaltsinc":0,"grsrntsreal":8699,"grsrntsprsnl":0,"rntlexpnsreal":0,"rntlexpnsprsnl":0,"rntlincreal":8699,"rntlincprsnl":0,"netrntlinc":8699,"grsalesecur":0,"grsalesothr":21707,"cstbasisecur":0,"cstbasisothr":0,"gnlsecur":0,"gnlsothr":21707,"netgnls":21707,"grsincfndrsng":0,"lessdirfndrsng":0,"netincfndrsng":0,"grsincgaming":0,"lessdirgaming":0,"netincgaming":0,"grsalesinvent":0,"lesscstofgoods":0,"netincsales":0,"miscrevtot11e":20424,"compnsatncurrofcr":73468,"othrsalwages":1650286,"payrolltx":141192,"profndraising":0,"txexmptbndsend":0,"secrdmrtgsend":658456,"unsecurednotesend":0,"retainedearnend":0,"totnetassetend":945139,"nonpfrea":"7","gftgrntsrcvd170":12931824,"txrevnuelevied170":0,"srvcsval170":0,"grsinc170":40336,"grsrcptsrelated170":1374054,"totgftgrntrcvd509":0,"grsrcptsadmissn509":0,"txrevnuelevied509":0,"srvcsval509":0,"subtotsuppinc509":0,"totsupp509":0,"ein":311124220},{"tax_prd":201812,"tax_prd_yr":2018,"formtype":0,"pdf_url":"https://projects.propublica.org/nonprofits/download-filing?path=02_2020_prefixes_30-33%2F311124220_201812_990_2020021517152335.pdf","updated":"2021-08-30T18:42:56.255Z","totrevenue":2845177,"totfuncexpns":2765460,"totassetsend":1189839,"totliabend":364805,"pct_compnsatncurrofcr":0.0,"tax_pd":null,"subseccd":3,"unrelbusinccd":"Y","initiationfees":0,"grsrcptspublicuse":0,"grsincmembers":0,"grsincother":0,"totcntrbgfts":[...]
[...]
